<div class="bg-yellow-300 p-8 mx-4 rounded-xl text-center leading-loose">
  <% if @auction.bids.length == 0%>
    <p class="text-sm font-semibold">
      This auction currently has no bids.
    </p>

    <p>
      <span class="text-sm">Bidding for this auction will start from:</span>
      <span class="block font-bold text-2xl leading-none mt-1">
        <%= number_to_currency(@auction.start_amount) %>
      </span>
    </p>
  <% else %>
    <% @auction.bids.each do |bid| %>
      <%= bid %>
    <% end %>
  <% end %>
</div>
