<h3 class="flex flex-col-reverse mr-3">
  <span class="text-gray-600 text-sm">
    <% if auction.bids.any? %>Current Bid<% else %>Starting Bid<% end %>
  </span>

  <span class="text-indigo-900 font-semibold text-2xl">
    <%= number_to_currency(auction.minimum_bid_amount) %>
  </span>
</h3>
