<div
  class="flex flex-col border border-yellow-100 bg-yellow-50 p-8 xrounded-sm xshadow-inner mt-6"
  data-controller="bids"
  data-bids-initial-value="3900"
  data-bids-increment-value="1"
  data-bids-confirm-value="false"
>
  <%= form_with model:  [ @auction, @auction.bids.build ] do |form| %>
    <div class="flex flex-col">
      <label for="bid_value" class="cursor-pointer mb-2">
        Select a bid increment:
      </label>

      <%= form.select(
        :value,
        options_for_select(Bid::INCREMENTS.map {|f| ["+ £#{('%0.2f' % f)}", f]}),
        {},
        {
          class: 'appearance-none border px-4 py-3 w-full text-lg',
          data: {
            action: "bids#setIncrement"
          }
        }
      ) %>
      <!--
      <label
        for="bid_value"
        class="cursor-pointer mt-1 text-red-600 hidden text-sm"
        data-bids-target="required"
      >
        Please select a bid increment
      </label>
      -->

      <button
        type="button"
        class="bg-indigo-600 hover:bg-indigo-700 mt-4 py-4 rounded shadow-md text-center text-white flex flex-col items-center justify-center"
        data-action="bids#confirmBid"
        data-bids-target="confirmBtn"
      >
        <span class="text-sm">Place a bid for:</span>

        <span
          class="text-2xl font-semibold"
          data-bids-target="totalBid"
        >
          <%= @auction.current_bid[:value] %>
        </span>
      </button>

      <p
        class="mt-2 text-xs text-indigo-900 text-center"
        data-bids-target="confirmBtn"
      >
        You can review before submitting
      </p>

      <div
        class="bg-indigo-600 p-4 rounded flex flex-col justify-center items-center mt-4"
        data-bids-target="confirmation"
      >
        <span class="text-sm text-white">
          You are about to place a bid for:
        </span>

        <span
          class="text-2xl font-bold mb-4 text-white"
          data-bids-target="totalBid"
        >
          <%= @auction.current_bid[:value] %>
        </span>

        <div class="flex flex-col md:flex-row items-center justify-between w-full">
          <button
            type="submit"
            class="w-full bg-green-400 hover:bg-green-500 rounded xshadow-md py-4 flex-1 md:mr-2 mb-4 md:mb-0 text-indigo-900"
          >
            Confirm bid
          </button>

          <button
            type="button"
            class="w-full border border-white hover:border-gray-200 hover:bg-indigo-700 rounded text-white xshadow-md py-4 flex-1 md:ml-2"
            data-action="bids#cancelBid"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>

    <!--
    <div class="bg-red-500 p-4 mt-4 rounded-md shadow text-center">
      You must be logged in to bid on this Auction
    </div>
    -->
  <% end %>
</div>
