<% if @auction.is_live %>
  <h3 class="flex flex-col-reverse ml-3 items-end">
    <span class="text-gray-600 text-sm">Auction ends</span>
    <span class="text-indigo-900 font-medium text-xl"><%= distance_of_time_in_words(Time.now, @auction.end_date, true, { compact: true, words_connector: ' ', two_words_connector: ' ', last_word_connector: ' ' }) %></span>
  </h3>
<% end %>
