<% if @auction.images.attached? %>
  <div
    data-controller="gallery"
    data-gallery-target="carousel"
    data-gallery-current-slide-value="0"
    class="flex flex-col items-center relative"
  >
    <div class="flex w-full overflow-x-scroll snap-x">
      <% @auction.images.each.with_index do |image, index|%>
        <div
          id="gallery-<%= index %>"
          data-gallery-target="image"
          class="flex flex-shrink-0 h-full items-center justify-center snap-start w-full"
        >
          <%= image_tag url_for(image), alt: @auction.name %>
        </div>
      <% end %>
    </div>

    <% if @auction.images.size >  1%>
      <div class="flex absolute bottom-16 items-center">
        <% @auction.images.each.with_index do |image, index|%>
          <a
            data-action="gallery#selectIndicator"
            data-gallery-target="indicator"
            href="#gallery-<%= index %>"
            class="border-2 border-white w-2 mr-2 h-2 text-gray-700 rounded-full bg-white flex justify-center items-center"
            data-turbolinks="false"
          >
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
