<div
  class="rounded px-2 py-1 text-sm"
  :class="`bg-${status.colour}-300`"
  >
  {{ status.label }}
</div>

<!--
<auction-status
  :has-started="auction.hasStarted"
  :has-finished="auction.hasFinished"
  class="absolute right-0 top-0 mt-2 mr-2"
/>
-->