/* app/javascript/stylesheets/application.scss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

// You can add your own custom components/styles here

.will-change-transform {
  will-change: transform;
}

.will-change-opacity {
  will-change: opacity;
}

.snap-start {
  scroll-snap-align: start;
}

.snap-x {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@import 'tailwindcss/utilities';
